<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="test.CBean" id="cb">
		<property name="list">
			<list>
				<value>집</value>
				<value>학원</value>
				<value>PC방</value>
			</list>
		</property>
	</bean>


	<!-- <bean class="test.Merecedes" id="benz" init-method="flex"> <constructor-arg 
		ref="OB"></constructor-arg> </bean> -->
	<bean class="test.Ferrari" id="ferrari">
		<property name="name" value="ferrari" />
		<property name="station" ref="ob" />
	</bean>
	<bean class="test.GSCaltex" id="gsc" />
	<bean class="test.OilBank" id="ob" />
</beans>
